:root {
    --platinum: hsla(0, 0%, 90%, 1);
    --oxford-blue: rgba(66, 87, 133, 0.829);
    --oxford-blue: rgb(32, 50, 90);
    --oxford-blue: hsla(221, 51%, 16%, 1);
    --oxford-blue: rgb(15, 27, 53);
    --oxford-blue: rgb(16, 30, 59);
    --orange-web: hsla(37, 98%, 53%, 1);
    --orange-web: rgb(255, 157, 0);
    --white: hsla(0, 0%, 100%, 1);
    --oxford-blue: rgb(149, 168, 211);
    --oxford-blue: rgb(3, 10, 26);
    --platinum: hsla(0, 0%, 90%, 1);
    --oxford-blue: rgba(42, 51, 71, 0.747);
    --platinum: hsla(0, 0%, 90%, 1);
    --platinum: hsla(0, 0%, 90%, 1);
    --platinum: hsla(0, 0%, 90%, 1);
    --platinum: hsla(0, 0%, 90%, 1);
    --platinum: hsla(0, 0%, 90%, 1);



    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
  
    font-size: 60%;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html, body, #root {
      height: 100vh;
  }

  body {
      background: var(--color-background);
  }

  #root {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  body,
  input,
  button,
  textarea {
      font: 500 1.6rem Poppins;
      color: var(--color-text-base)
  }

  .container {
      width: 90vw;
      max-width: 700px;
  }

  @media (min-width: 700px) {
      :root {
          font-size: 62.5%;
      }
  }